{% extends 'header2.html'%}
{% block content %}
<style>
    .page-title-section {
    background-image: url('../../media/images/christmas-gift-boxes-light-table.jpg');
    background-size: cover;
}

/* Media query for smaller screen sizes */
@media (max-width: 767px) {
    .page-title-section {
        background-image: url('../../media/images/christmas-gifts-wrapped-glittering-paper-beside-festive-poinsettias-set-holiday-s_GXkKiHp.jpg'); /* Replace 'your-phone-image.jpg' with the path to your phone image */
    }
}
</style>
<div class="offcanvas-overlay"></div>
<div class="page-title-section section">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="page-title">
                    <h1 class="title">Blog</h1>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/index/">Home</a></li>
                        <li class="breadcrumb-item active">Blog</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Single Blog Section Start -->
<div class="section section-padding">
    <div class="container">
        <div class="row learts-mb-n50">

            <div class="col-xl-12 col-lg-12 col-12 learts-mb-50">
                <div class="single-blog">
                    <div>
                        <a href="blog-details.html"><img src="../../media/{{main.img1}}" alt="Blog Image"
                              style="width: 50%;"><br><br></a>
                    </div>
                    <div class="content">
                        <h2 class="title">{{main.title}}</h2>
                        <ul class="meta">
                            <li><i class="far fa-user"></i> By <a href="#">{{main.author}}</a></li>
                            <li><i class="far fa-calendar"></i><a href="#">{{main.date}}</a></li>
                        </ul>
                        <div class="desc">
                            {{main.description1}}
                        </div>
                        <div class="desc">
                            {{main.description2}}
                        </div>
                        <div class="desc">
                            {{main.description3}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-6 learts-mb-50">
                            <img src="../../media/{{main.img2}}" alt="Blog Image">
                        </div>
                        <div class="col-xl-6 col-lg-6 col-6 learts-mb-50">
                            <img src="../../media/{{main.img3}}" alt="Blog Image">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<!-- Single Blog Section End -->

{% endblock %}