{% extends 'header.html'%}
{% block content %}
<style>
    .page-title-section {
        background-image: url('../../media/images/christmas-gift-boxes-light-table.jpg');
        background-size: cover;
    }

    /* Media query for smaller screen sizes */
    @media (max-width: 767px) {
        .page-title-section {
            background-image: url('../../media/images/christmas-gifts-wrapped-glittering-paper-beside-festive-poinsettias-set-holiday-s_GXkKiHp.jpg');
            /* Replace 'your-phone-image.jpg' with the path to your phone image */
        }
    }
</style>

<div class="page-title-section section">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="page-title">
                    <h1 class="title">ThankYou</h1>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                        <li class="breadcrumb-item active">ThankYou</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>





<div class="section section-padding pt-0">
    <div class="container">
        <!-- Section Title Start -->
        <div class="section-title2 text-center">
            <h2 class="title" style="padding-top: 100px;">Thank you for choosing "Wrap N Print"!<br><br>
                 We greatly appreciate your order and trust in our products/services. 
                 <br><br>Your support means the world to us..!</h2>
        </div>
        <!-- Section Title End -->
        <style>
            select {
                font-size: 12px;
                font-weight: 300;
                display: block;
                width: 100%;
                padding: 10x 0;
                margin-top: 10px;
                color: grey;
                border: 2px solid rgba(0, 0, 0, 0);
                border-bottom-color: #ededed;
                background-color: rgba(0, 0, 0, 0);
            }
        </style>
      

    </div>
</div>

{% endblock %}
